<%- include ('partials/header') %>
<%- include ('partials/boardNavbar') %>

<!-- pasek narzędzi -->
<div class="container-fluid" >
    <div class="row">
        <div class="col-5">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-danger" id="nowaTablica">Nowa tablica</button>
                <button type="button" class="btn btn-danger" id="wyczysc">Wyczyść</button>
                <button type="button" class="btn btn-secondary active" id="rysik">Rysik</button>
                <button type="button" class="btn btn-secondary" id="gumka">Gumka</button>
                <button type="button" class="btn btn-secondary" id="linia">Linia</button>
                <button type="button" class="btn btn-secondary" id="prostokat">Prostokąt</button>
                <button type="button" class="btn btn-secondary" id="elipsa">Elipsa</button>
            </div>
        </div>
        <div class="col-5">
            <div class="container-fluid" id="lineControls">
                <label for="lineColor">Kolor</label>
                <input type="color" id="lineColor">

                <label for="lineWidth">Grubość kreski</label>
                <select id="lineWidth">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="container-fluid hideElement" id="rubberControls">
                rubberControls
            </div>
            <div class="container-fluid hideElement" id="shapeControls">
                shapeControls
            </div>
        </div>
        <div class="col-2 noPaddingAndMargin">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary active" id="uczestnicy">Uczestnicy</button>
                <button type="button" class="btn btn-secondary" id="chat">Czat</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 noPaddingRight">
            <canvas id="canvas" class="borderHighlight">

            </canvas>
        </div>
        <div class="col-2 borderHighlight noPaddingAndMargin">
            <div class="container-fluid borderHighlight scrollable" id="connectedUsers">
                <%for(let i = 0; i < users.length; i++){%>
                    <img src="<%=users[i].profile_pic%>" alt="">
                    <p><%= users[i].first_name%> </p>
                    <p><%= users[i].last_name%> </p>
                    <hr>
                <%};%>
            </div>
            <div class="container-fluid borderHighlight hideElement noPaddingAndMargin" id="chatBox">
                <div class="container-fluid borderHighlight noPaddingAndMargin chatBoxMessagesHeight scrollable" id="chatBoxMessages">
                    
                </div>
                <div class="input-group borderHighlight noPaddingAndMargin chatBoxHeight">
                    <span class="input-group-text" id="sendChatMessage">Wyślij</span>
                    <textarea class="form-control" aria-label="Wyślij" id="textMessageContent"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script> 
    const groupId = '<%-groupId%>'; 
    const userName = '<%- currentUser.name%>';
    const userLastName = '<%- currentUser.lastName%>';
    const currentUserId = '<%- currentUser._id%>';
</script> 
<script src="/scripts/board.js"></script>
<script src="/scripts/boardSocket.js"></script>
<%- include ('partials/footer') %>
