<%- include ('partials/header') %>
<%- include ('partials/navbar') %>
<script src="/scripts/themeChange.js" defer></script>
<!-- pasek narzędzi -->
<%if(currentUser.lightTheme){%>
<div class="grad-anim" id="bod">
<%} else {%>
<div class="grad-anim-dark" id="bod2">
<%};%>
<div class="container-fluid" >
    <div class="row">
        <div class="col-10 drawingControls">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-danger" id="clear">Wyczyść</button>
                <button type="button" class="btn btn-secondary active" id="path">Rysik</button>
                <button type="button" class="btn btn-secondary" id="rubber">Gumka</button>
                <button type="button" class="btn btn-secondary" id="line">Linia</button>
                <button type="button" class="btn btn-secondary" id="rect">Prostokąt</button>
                <button type="button" class="btn btn-secondary" id="ellipse">Okrąg</button>
                <div class="settingsControls">
                    <label for="lineColor" class="text-center align-middle">Kolor</label>
                    <input type="color" id="lineColor" class="align-middle">
                </div>
                <div class="settingsControls">
                    <label for="lineWidth" class="text-center align-middle">Grubość lini</label>
                    <select id="lineWidth" class="align-middle">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-2 noPaddingAndMargin">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary active" id="uczestnicy">Uczestnicy</button>
                <button type="button" class="btn btn-secondary" id="chat">Czat</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 noPaddingRight">
            <canvas id="canvas" class="bg-white">

            </canvas>
        </div>
        <div class="col-2  noPaddingAndMargin">
            <div class="container-fluid  scrollable" id="connectedUsers">
            </div>
            <div class="container-fluid  hideElement noPaddingAndMargin" id="chatBox">
                <div class="container-fluid chatBoxMessagesHeight scrollable" id="chatBoxMessages">
                    <%for(let i = 0; i < messages.length; i++){%>
						<div class="row p-2">
							<div class="col-sm-3">
								<img src="<%= messages[i].ownerId.imageUrl%>" class="img-thumbnail rounded-circle" alt="img_user">
							</div>
							<div class="col-sm-8 grad borderHighlightRound">
								<div class="d-flex flex-column" style="height: 100%">
									<div class="d-flex"><%= messages[i].ownerId.name%> <%= messages[i].ownerId.lastName%></div>
									<div class="d-flex text-break"><%= messages[i].content%></div>
								</div>
							</div>
						</div>
                    <%}%>
                </div>
                <div class="input-group noPaddingAndMargin chatBoxHeight">
                    <span class="input-group-text" id="sendChatMessage">Wyślij</span>
                    <textarea class="form-control" aria-label="Wyślij" id="textMessageContent"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script> 
    const groupId = '<%-groupId%>'; 
    const userName = '<%- currentUser.name%>';
    const userLastName = '<%- currentUser.lastName%>';
    const currentUserId = '<%- currentUser._id%>';
    const profilePic = '<%- currentUser.imageUrl%>';
    const groupOwner = '<%- owner%>';
    const lightTheme = '<%- currentUser.lightTheme%>';
</script> 
<script src="/scripts/canvasRender.js"></script>
<script src="/scripts/board.js"></script>
<script src="/scripts/boardSocket.js"></script>
<%- include ('partials/footer') %>
