<%- include ('partials/header') %>
<%- include ('partials/navbar') %>

<div class="grad-anim mainPageAlert">
    <div class="container">
      <%- include ('partials/success') %>
      <%- include ('partials/error') %>
    </div>
</div>
<div class="d-flex align-items-center min-vh-100 grad-anim">
	<div class="container">
	  <div class="row justify-content-md-center">
		<div class="col-lg-3">	  
		</div>
		<div class="col-lg-6">
			<span>
				<div class="bg-light borderList" style="padding: 40px">	
					<form action="/register" onsubmit="return validateRegister()" method="POST" id="reg-form" enctype="multipart/form-data">					
						<center><span id="informacja"></span></center>
						<div class="form-floating mb-3" aria-describedby="ImieInfo"> <!-- w-25 -->
							<input type="text" name="name"  class="form-control" id="newName" placeholder="Imie" required>
								<label for="imie">Imię</label>
									<div id="ImieInfo" class="form-text">
										Imię musi być pojedyńcze i zaczynać się z dużej litery.
									</div>
									<span class="validateInfo" id="ValidateImieInfo" >
									</span>
						</div>


						<div class="form-floating mb-3" aria-describedby="NazwiskoInfo"> <!-- w-25 -->
							<input type="text" name="lastName" class="form-control" id="newLastName" placeholder="Nazwisko"  required>
							<label for="nazwisko">Nazwisko</label>
									<div id="NazwiskoInfo" class="form-text">
										Nazwisko musi zaczynać się z dużej litery, w wypadku podwójnych musi być oddzielone myślnikiem. Przykład: Kowalski-Kmicic.
									</div>
									<span class="validateInfo" id="ValidateNazwInfo" >
									</span>
						</div>

						<div class="form-floating mb-3" aria-describedby="LoginInfo"> <!-- w-25 -->
							<input type="text" name="username" class="form-control" id="login" placeholder="Login"  required>
							<label for="login">Login</label>
									<div id="LoginInfo" class="form-text">
										Login nie może zawierać spacji.
									</div>			
									<span class="validateInfo" id="ValidateLoginInfo" >
									</span>	
						</div>
						
						<div class="form-floating mb-3" aria-describedby="PasswordInfo">
							<input type="password" name="password" class="form-control" id="newPassword1" placeholder="Password" minlength="8" maxlength="32"  required>
							<label for="haslo">Hasło</label>
									<div id="PasswordInfo" class="form-text">
										Hasło nie może zawierać spacji i musi zawierać od 8 do 32 znaków.
									</div>	
									<span class="validateInfo" id="ValidatePassInfo" >
									</span>									
						</div>

						<div class="form-floating mb-3">
							<input type="password" class="form-control" id="newPassword2" placeholder="Confirm password" minlength="8" maxlength="32" required>
							<label for="haslo2">Zatwierdź Hasło</label>
							<span class="validateInfo" id="ValidatePass2Info" >
							</span>
						</div>
						<div>
							<input type="file" name="profilePic">
						</div>

						<center>
							<button class="btn btn-outline-secondary" type="submit">Zarejestruj się</button>
						</center>
					</form>
				</div>	
			</span>
		</div>
		<div class="col-lg-3">
		</div>
	 </div>
	</div>
</div>

<%- include ('partials/footer') %>
