<%- include ('partials/header') %>
<%- include ('partials/navbar') %>

<%if(user.lightTheme){%>
<div class="grad-anim min-vh-100" id="bod">
<%} else {%>
<div class="grad-anim-dark min-vh-100" id="bod2">
<%};%>

<div class="container" style="padding-top:50px">
<%- include ('partials/success') %>
<%- include ('partials/error') %>
	<div class="row">
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-3">
					<img src="<%= user.imageUrl%>" class="img-thumbnail rounded-circle" alt="img_group">
				</div>
				<div class="col-sm-9">
					<div class="d-flex flex-column" style="height: 100%">
						<div class="d-flex bigfont" style="height: 100%; align-items: center"><%= user.name%> "<%= user.username%>" <%= user.lastName%></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-sm-4 justify-content-center p-1" style="margin-top: 20px">
		<button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#opcje" aria-expanded="false" aria-controls="opcje"><h2>Ustawienia Użytkownika</h2></button>
	</div>
	<div class="row borderList bg-light justify-content-center p-1 collapse" id="opcje">
		<div class="row">
			<div class="col-sm-3 center">
				<button class="btn btn-secondary fullwidth" type="button" data-bs-toggle="modal" data-bs-target="#one" aria-expanded="false" aria-controls="one"><h4>Zmień Awatar</h4></button>
			</div>
			<div class="col-sm-3 center">
				<button class="btn btn-secondary fullwidth" type="button" data-bs-toggle="modal" data-bs-target="#two" aria-expanded="false" aria-controls="two"><h4>Zmień Dane</h4></button>
			</div>
			<div class="col-sm-3 center">
				<button class="btn btn-secondary fullwidth" type="button" data-bs-toggle="modal" data-bs-target="#three" aria-expanded="false" aria-controls="three"><h4>Zmień Hasło</h4></button>
			</div>
			<div class="col-sm-3 center">
				<button class="btn btn-secondary fullwidth" type="button" data-bs-toggle="modal" data-bs-target="#four" aria-expanded="false" aria-controls="four"><h4>Zmień Motyw</h4></button>
			</div>
		</div>
		
		<div class="modal fade" id="one" tabindex="-1" aria-labelledby="oneLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content bg-light">
					<div class="modal-header">
						<h5 class="modal-title" id="oneLabel">Zmiana Awataru</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="nowyAwatar" action="/user/<%-user._id%>/update/avatar?_method=PUT" method="POST" enctype="multipart/form-data">
							<div class="row">
								<input type="file" name="newUserPic">
							</div>
							<div class="row" style="margin-top: 10px">
								<button class="btn btn-secondary">Zapisz</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="two" tabindex="-1" aria-labelledby="twoLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content bg-light">
					<div class="modal-header">
						<h5 class="modal-title" id="twoLabel">Zmiana Danych</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="noweDane" action="/user/<%-user._id%>/update/data?_method=PUT" method="POST">
							<div class="row">
								<input type="text" class="form-control borderHighlight" name="newName" placeholder="Nowe imię" value="<%= user.name%>">
							</div>
							<div class="row" style="margin-top: 10px">
								<input type="text" class="form-control borderHighlight" name="newLastName" placeholder="Nowe nazwisko" value="<%= user.lastName%>">
							</div>
							<div class="row" style="margin-top: 10px">
								<button class="btn btn-secondary">Zapisz</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="three" tabindex="-1" aria-labelledby="threeLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content bg-light">
					<div class="modal-header">
						<h5 class="modal-title" id="threeLabel">Zmiana Hasła</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="noweHaslo" action="/user/<%-user._id%>/update/password?_method=PUT" method="POST">
							<div class="row">
								<input type="text" class="form-control borderHighlight" name="oldPassword" placeholder="Podaj nowe hasło" required>
							</div>
							<div class="row" style="margin-top: 10px">
								<input type="text" class="form-control borderHighlight" name="newPassword" placeholder="Powtórz nowe hasło" required>
							</div>
							<div class="row" style="margin-top: 10px">
								<button class="btn btn-secondary">Zapisz</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="four" tabindex="-1" aria-labelledby="fourLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content bg-light">
					<div class="modal-header">
						<h5 class="modal-title" id="fourLabel">Zmiana Motywu</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<form class="col" id="MotywJasny" action="/user/<%-user._id%>/theme/light?_method=PUT" method="POST">
								<button class="btn btn-light fullwidth" name="lightMode">Jasny</button>
							</form>
							<form class="col" id="MotywCiemny" action="/user/<%-user._id%>/theme/dark?_method=PUT" method="POST">
								<button class="btn btn-secondary fullwidth" name="darkMode">Ciemny</button>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row col-sm-4 justify-content-center p-1">
		<button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#nowagrupa" aria-expanded="false" aria-controls="nowagrupa"><h2>Utwórz nową grupę</h2></button>
		<div class="modal fade" id="nowagrupa" tabindex="-1" aria-labelledby="nowagrupaLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content bg-light">
					<div class="modal-header">
						<h5 class="modal-title" id="nowagrupaLabel">Tworzenie Nowej Grupy</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="/group/add" method="POST" enctype="multipart/form-data">
							<div class="row">
								<input type="text" class="form-control borderHighlight" name="groupName" placeholder="Nazwa nowej grupy" required>
							</div>
							<div class="row" style="margin-top: 10px">
								<input type="text" class="form-control borderHighlight" name="description" placeholder="Opis nowej grupy" required>
							</div>
							<div class="row" style="margin-top: 10px">
								<input type="file" name="groupPic">
							</div>
							<div class="row" style="margin-top: 10px">
								<button class="btn btn-secondary">Utwórz</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-sm-4 justify-content-center p-1">
		<button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#dolaczdo" aria-expanded="false" aria-controls="dolaczdo"><h2>Dołącz do grupy</h2></button>
		<div class="modal fade" id="dolaczdo" tabindex="-1" aria-labelledby="dolaczdoLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content bg-light">
					<div class="modal-header">
						<h5 class="modal-title" id="dolaczdoLabel">Tworzenie Nowej Grupy</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="/group/add" method="POST" enctype="multipart/form-data">
							<div class="row">
								<input type="text" class="form-control borderHighlight" name="entryCode" placeholder="Podaj kod grupy" required>
							</div>
							<div class="row" style="margin-top: 10px">
								<button class="btn btn-secondary">Dołącz</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
					</div>
				</div>
			</div>
		</div>
		<form class="collapse" id="dolaczdo" action="/user/<%-user._id%>/joinGroup" method="POST">
			<div class="row" style="margin-top: 10px">
				<input type="text" class="form-control borderHighlight" name="entryCode" placeholder="Podaj kod grupy" required>
			</div>
			<div class="row" style="margin-top: 10px">
				<button class="btn btn-outline-secondary">Dołącz</button>
			</div>
		</form>
	</div>
	<div class="row borderList justify-content-center p-1 bg-light" style="margin-top: 10px">
		<h1>Grupy do których należysz</h1>
		<%for(let i = 0; i < user.groups.length; i++){%>
		<div class="row grad borderHighlightRound m-2 p-2" style="width: 90%">
			<div class="col-sm-1">
				<img src="<%= user.groups[i].imageUrl%>" class="img-thumbnail rounded-circle" alt="img_user">
			</div>
			<div class="col-sm-9">
				<div class="d-flex flex-column" style="height: 100%">
					<div class="d-flex" style="height: 100%; align-items: center"><%= user.groups[i].groupName%></div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="d-flex flex-column center" style="height: 100%">
					<a class="nav-link active" aria-current="page" href="/group/<%= user.groups[i]._id%>">
						<button type="button" class="btn btn-outline-secondary">Wyświetl grupę</button>
					</a>
				</div>
			</div>
		</div>
		<%};%>
	</div>
	<div class="row borderList justify-content-center p-1 bg-light" style="margin-top: 10px">
		<h1>Grupy które posiadasz</h1>
		<%for(let i = 0; i < ownedGroups.length; i++){%>
		<div class="row grad borderHighlightRound m-2 p-2" style="width: 90%">
			<div class="col-sm-1">
				<img src="<%= ownedGroups[i].imageUrl%>" class="img-thumbnail rounded-circle" alt="img_user">
			</div>
			<div class="col-sm-9">
				<div class="d-flex flex-column" style="height: 100%">
					<div class="d-flex" style="height: 100%; align-items: center"><%= ownedGroups[i].groupName%></div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="d-flex flex-column center" style="height: 100%">
					<a class="nav-link active" aria-current="page" href="/group/<%= ownedGroups[i]._id%>">
						<button type="button" class="btn btn-outline-secondary">Wyświetl grupę</button>
					</a>
				</div>
			</div>
		</div>
		<%};%>
	</div>
</div>
</div>

<script>
var element = document.getElementById("bod2");
if(typeof(element) != undefined && element != null){
	document.addEventListener("load", darkSwitch());
}

function darkSwitch() {
  document.body.style.color = "white";
  
  var linki = document.getElementsByClassName("nav-link");
  for(let i = 0; i < linki.length; i++){
	linki[i].style.color = "white";
  }
  
  var linki2 = document.getElementsByClassName("navbar-brand");
  for(let i = 0; i < linki2.length; i++){
	linki2[i].style.color = "white";
  }

  var borderList_switch = document.getElementsByClassName("borderList");
  while(borderList_switch.length > 0) {
    borderList_switch[0].classList.add("borderList-black");
	borderList_switch[0].classList.remove("borderList");
  }
  
  var bg_switch = document.getElementsByClassName("bg-light");
  while(bg_switch.length > 0) {
    bg_switch[0].classList.add("bg-dark");
	bg_switch[0].classList.remove("bg-light");
  }
  
  var grad_switch = document.getElementsByClassName("grad");
  while(grad_switch.length > 0) {
    grad_switch[0].classList.add("grad-dark");
	grad_switch[0].classList.remove("grad");
  }
}
</script>

<%- include ('partials/footer') %>